Source: folder-thumbnailer
Maintainer: Ahmad Hasan Mubashshir <ahmubashshir@gmail.com>
Homepage: http://github.com/ahmubashshir/folder-thumbnailer
Standards-Version: 4.1.4
Priority: optional
Section: utils

Package: folder-thumbnailer
Section: extra
Priority: optional
Architecture:any
Depends: tumbler,imagemagick|graphicsmagick-imagemagick-compat,bash
Recommends: thunar ( >=1.8.4 )
Homepage: http://github.com/ahmubashshir/folder-thumbnailer
Description: Create Thumbnails from folders
 It creates thumbnails of folder from cover.jpg/folder.jpg.
 It is a simple workaround for thunar

